<!DOCTYPE>
<html>
	<body>
		<h1>Welcome to <strong>nginx</strong> on EPEL!</h1>
		<p>
			This project has been a learning experience of Chef, Vagrant, VirtualBox, Berkshelf, Knife, Kitchen and Serverspec!
		</p>
	</body>
</html>